*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cube-color: #ec00ec;
    --size: 200px;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
}

.cube{
    position: relative;
    width:  var(--size);
    height: var(--size);
    transform-style: preserve-3d;
    animation: myanime 10s linear infinite;
}
@keyframes myanime {
    from{
        transform: rotateX(0deg) rotateY(0deg); 
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
    
}


.cube div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#151515, var(--cube-color));
    transform: rotateY(calc(90deg*var(--i))) translateZ(calc(var(--size)*0.5));
}

.top{
    background: #151515;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg) translateZ(calc(var(--size)*0.5));
}

.top::before{
    content: "";
    position: inherit;
    top: 0;
    left: 0;
    width: var(--size);
    height:var(--size);
    background: var(--cube-color);
    transform: translateZ(calc(var(--size)*(-1)));
    /* filter: blur(calc(var(--size)/5)); */
}

